.search-bar {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;

  .search-btn {
    background-color: transparent;
    border: none;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .search-icon {
    color: #000;
  }

  input {
    padding: 0.5rem;
    border-radius: 0.625rem;
    border: none;
    margin-left: 0.5rem;
    width: 12rem;
  }
}

@media screen and (max-width: 670px) {
  .search-bar {
    top: 9.375rem;
    left: 0.625rem;

    input {
      width: 8rem;
    }
  }
}

@media screen and (max-width: 420px) {
  .search-bar {
    top: 9.375rem;
    left: 0.625rem;
  
    .input {
      width: 8rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .search-bar {
    top: 9.375rem;
    left: 0.625rem;
  
    .input {
      width: 8rem;
    }
  }
}